
.gridReportes
{
    display: grid;
    grid-template-rows: 90px 590px;
}

.gridCajasReportes
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
}

.gridCajasReportes div
{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridGraficosReportes
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
}

.gridGraficosReportes div
{
    border: 1px solid black;
}