
.gridReportes
{
    display: grid;
    grid-template-rows: 50px 90px 550px;
}

.gridFiltrosReportes
{
    display: grid;
    grid-template-columns: 70% 30%;
}


.gridCajasReportes
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.gridCajasReportes div
{
    border: 1px solid black;
    
    
}

.gridGraficosReportes
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
}

.gridGraficosReportes div
{
    border: 1px solid black;
}