.tituloFormRegistro
{
    text-align: center;
    padding: 20px;
    color: blue;
    
}


.bordeFormRegistro
{
    
    width: 100%;
    height: 100%;
    border: 1px solid rgb(223, 223, 223);
}

.CuerpoFormRegistro div
{
    width: 100%;
    margin-left: 40px;
    padding: 5px;
}

.CuerpoFormRegistro div input
{
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(212, 211, 211);

}

.botReg button
{
    display: flex;
    justify-content: center;
}

.botonFormRegistro
{
    width: 80%;
    background-color: red;
    color: white;
    height: 40px;
    border: 1px solid rgb(223, 223, 223);
    align-items: center;
}

.paraffoRegistro
{
    margin-top: 5px;
}