.estilosFormulario
{
    margin-left: 50px;
    margin-top: 30px;
    width: 95%;
}

.GenerralTablaGiratorio
{
    width: 100%;
    
}


.titulosTabla
{
    border: 1px solid rgb(221, 221, 221)
}

.titulosTabla th
{
    border: 1px solid rgb(221, 221, 221);
    text-align: center;
}

.cuerpoTabla
{
    border: 1px solid rgb(221, 221, 221);
    
}

.cuerpoTabla td
{
    border: 1px solid rgb(221, 221, 221);
    width: 150px;
    text-align: center;
}

.botnTablaGranu
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botnTablaGranu button
{
    width: 200px;
}

.inputTablaGprimario
{
    width: 150px;
    border: none;
}

.gridBotoncetess
{
    display: grid;
    grid-template-columns: 45% 45%
}