.estilosFormulario
{
    margin-left: 50px;
    margin-top: 30px;
    width: 95%;
}

.GenerralTablaGiratorio
{
    width: 100%;
}

.titulosTabla
{
    border: 1px solid rgb(221, 221, 221)
}

.titulosTabla th
{
    border: 1px solid rgb(221, 221, 221);
    text-align: center;
    background-color: black;
    color: white;
    
}


.cuerpoTabla td
{
    border: 1px solid rgb(221, 221, 221);
    width: 150px;
    text-align: center;
}

.cuerpoTabla td input
{
    text-align: center;
}

.botnTablaGranu
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botnTablaGranu button
{
    width: 200px;
}

.inputTablaGprimario
{
    width: 150px;
    border: none;
}

.gridBotoncetess
{
    display: grid;
    grid-template-columns: 45% 45%
}

.botnTablaCalcular
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botnTablaCalcular button
{
    background-color: red;
    color: white;
    width: 150px;
    height: 40px;
    border: 1px solid rgb(223, 223, 223);
}